<div class="flex h-screen v-screen" id="grad">
  <div class="card container p-5">
    <div class="row">
      <div class="md:text-4xl text-xl font-black uppercase" >Select your Course</div>
      <div class="text-md mt-3">Physical computing covers the design and realization of interactive objects and installations and allows students to develop concrete,<br> tangible products of the real world, which arise from the learners’ imagination.</div>
      <div class="text-md mt-3">Creative computing refers to a meta-technology to combine knowledge in computing and other disciplines. Applications are seen in arts, entertainment/games, mobile applications, multimedia, product/web design and other interactive systems.</div>
    </div>
    <div class="row" style="margin-top: 20vh;height:300px;">
        <div class="col-md-2">

        </div>
        <div class="col-md-4 justify-content-center zoom" align="center" (click)="goToTopics(1)">
            <div class="inner-card">
                <img src="../../assets/15199073.jpg" width="200" height="200"/>
            </div>
            <div class="text-xl mt-4 subject-text" style="font-weight: bold;">Physical Computing</div>
        </div>
        <div class="col-md-4 justify-content-center zoom"  align="center" (click)="goToTopics(2)">
            <div class="inner-card">

                <img src="../../assets/24252537.jpg" width="200" height="200"/>
            </div>

            <div class="text-xl mt-4 subject-text" style="font-weight: bold;">Creative Computing</div>
        </div>
        <div class="col-md-2">

        </div>
      
    </div>

  </div>
</div>
